.topnav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: flex-end;
  margin-top: 10px;
  padding: 10px; /* Optional: Add padding if needed */
}

.breadcrumb-container {
  flex: 1;
  margin-right: 750px; /* Take up remaining space */
}

.search-bar {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: auto; /* Push to the right */
}

.search-input {
  width: 225px;
  height: 45px;
  border: none;
  padding-left: 30px; /* Adjust padding to make room for the icon */
  padding-right: 30px; /* Optional: Add padding to create space between the icon and the right edge of the input */
  outline: none;
}

.search-icon {
  position: absolute;
  left: 200px; /* Adjust based on your preference */
  pointer-events: none; /* Ensures the icon does not block input clicks */
  color: black;
}

.bell-icon {
  margin-left: 30px; /* Adjust based on your preference */
  color: black;
  width: 24px;
  height: 26px;
  top: 28px;
}

.profile-image {
  border: none;
  width: 45px;
  height: 45px;
  margin-left: 30px;
  border-radius: 20px;
}

.border-line {
  width: 1290px;
  height: 1px;
  background-color: #979797;
  position: absolute;
  top: 84px;
  left: calc(250px + 20px); /* Adjust based on the width of your sidebar */
  border: 0px solid #979797;
}