/* users.css */

/* Horizontal and Vertical Lines */
.table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  /* Background color for even rows */
  .table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Hover effect */
  .table tr:hover {
    background-color: #ddd;
  }
  
  /* Table Header */
  .table-header th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: #000000;
    font-size: 12px;
    font-weight: 400;

  }
  
  /* Status Styles */
  .status {
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
  }
  
  .status-active {
    color: #4CAF50;
    border: 1px solid #4CAF50;
    border-radius: 18px;
  }
  
  .status-inactive {
    color: #f44336;
    border: 1px solid #f44336;
    border-radius: 18px;
  }
  
  /* Align image and name on the same line */
  .name-phone-container {
    display: flex;
    align-items: center;
  }
  
  .name-phone-container img {
    margin-right: 10px;
  }
  
  .name-phone-container .text {
    display: flex;
    flex-direction: column;
  }
  
  /* Other Styles */
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -5px;
  }
  
  .header-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;

  }
  
  .add-admin-btn {
    background-color: #3B5998;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    display:flex;
    justify-content: center;
    align-items: center;

  }
  
 
  
  .entries-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .search-container {
    display: flex;
    align-items: center;
  }
  
  .search-container label {
    margin-right: 10px;
  }
  
  .search-container input {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .pagination button {
    cursor: pointer;
  }
  .image{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 20px;
     
  }
  .pagination-con{
    display:flex;
    justify-content:space-between
  }
  .pagination button.active {
    background-color: #4CAF50;
    width: 24px;
    margin: 2px;
    color: white;
    border-radius: 5px;
  }
  .pagination button.inactive {
    border:1px solid rgb(160, 159, 159);
    width: 24px;
    margin: 5px;
    color: black;
    border-radius: 5px;
  }
  .main-container{
    background-color: white !important;
    padding: 12px;
  }
  
  .pagination button:hover {
    background-color: #ddd;
  }
.table-row{
    font-size: 12px;
}  
  .action-cell {
    display: flex;
    height: 8vh;
  gap: 1rem; /* Adjust spacing between buttons */
  
}

.action-item {
  display: flex;
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}
  