.close-icon {
  position: relative;
  top: 10px;
  right: 10px;
  font-size: 30x; /* Increase the size of the close icon */
  cursor: pointer;
}

.close-icon:hover {
  color: red; /* Change the color of the close icon on hover */
}
